/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');

/* HTML RESET */
html, body {
    padding: 0;
    margin: 0;
}

/* Body Gradient */
body {
    background: linear-gradient(#525E75 10%, #1e1e1e 100%);
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* ******************************* */
/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    /* border-radius: 10px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #3e3e3e; 
    /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d2d2d; 
}
/* ******************************* */

/* LOGO STYLING */
.logoContainer {
    display: flex;
    width: 100%;
    padding: 25px;
    /* background: transparent; */
    position: sticky;
    top: 0px;
    background: linear-gradient(to bottom, #525E75 0%, rgba(101, 101, 101, 0.4) 100%);
    justify-content: space-between;
}

.logo {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-stretch: condensed;
    font-weight: 700;
    font-size: 48pt;
    line-height: 70%;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: transparent;

    -webkit-text-stroke: 0.22vw #F1DDBF;
}

/* MAIN (NAVBAR AND VIDEO CONTAINER) STYLING*/
.main {
    /* display: flex; */
}

/* NAVBAR STYLING */

.navbar {
    width: 100%;
    height: 75px;
    /* align-self: start; */
    /* margin-top: 50px; */
    position: sticky;
    /* top: 90px; */
    /* background-color: #92BA92; */
    z-index: 1;
}

.logoContainer {
    display: flex;
}

.logoContainer {
    display: flex;
}

.navbar i:hover {
    cursor: pointer;
}

.navbar-list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.navbar-filter {
    display: flex;
    padding: 0;
}

.navbar-listItem {
    padding: 20px;
}

.labelSort {
    min-width: 75px;
    text-align: center;
}

.sortAndFilter {
    display: flex;
    height: 30px;
    border-radius: 3px;
}

.searchBar {
    width: 250px;
    height: 25px;
    margin-top: 25px;
}

/* VIDEO CONTAINER STYLING */
.videoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 12pt;
    font-weight: 400;
    color: #fff;
    z-index: 0;
}

/* VIDEOCARD STYLING */
.videoCard {
    width: 10vw;
    height: 6vw;
    min-width: 360px;
    min-height: 255px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    /* margin-right: 10px; */
    /* box-shadow: 5px 5px #1e1e1e; */
    /* background: linear-gradient(325deg, rgba(55, 55, 55, 0.8), #fc8646); */
    background-color: transparent;
    /* filter: blur(4px); */
    transition: 0.5s;
    border-radius: 12.5px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    position: relative;
}

.videoCard:hover {
    scale: 120%;
}

.videoWrap {
    width: 100%;
    height: 83%;
    border-radius: 12.5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    /* justify-content: center; */
    /* align-items: center; */
}

.videoWrap video {
    min-width: 100%;
    /* min-height: 100%; */
    /* overflow: hidden; */
}

#unpaidIcon {
    position: absolute;
    top: 50px;
    left: 120px;
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 64pt;
}

.videoUnpaid {
    width: auto;
    height: auto;
    filter: blur(5px);
}

.videoCard-infoContainer {
    display: flex;
}

.likeButton, .addToCartButton {
    font-size: 25px;
    margin-left: 10px;
}

.likeButton:hover, .addToCartButton:hover {
    cursor: pointer;
}

.videoCard-title {
    margin-left: 10px;
    padding: 5px;
    width: 255px;
    transition: 0.5s;
    align-self: center;

    /* Put in a react component so that we can actually control when it shows or not. */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.videoCard-price {
    margin-left: auto;
    margin-right: 10px;
    align-self: center;
    text-shadow: 1px 1px #1e1e1e;
}

/* CART STYLING */
.cartContainer {
    position: absolute;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
}

.cart {
    position: relative;
    width: 40%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    z-index: 3;
}

.cart-header {
    display: flex;
    justify-content: space-between;
}

.exitCart {
    border: 1px solid black;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}

.cartItems {
    display: flex;
    justify-content: space-between;
}

.removeFromCart {
    border: 1px solid gray;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}

/* THEATER MODE STYLING */
.theaterScreen {
    width: 100px;
    height: 50px;
    background-color: #1e1e1e;
}

