/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');

/* HTML RESET */
html, body {
    padding: 0;
    margin: 0;
}

/* Body Gradient */
body {
    background: linear-gradient(#525E75 0%, #0e0e0e 100%);
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ******************************* */
/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    /* border-radius: 10px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #3e3e3e; 
    /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d2d2d; 
}
/* ******************************* */

/* LOGO STYLING */
.logo {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-stretch: condensed;
    font-weight: 700;
    font-size: 48pt;
    line-height: 70%;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: transparent;
    margin-top: 25px;
    margin-bottom: 25px;
    -webkit-text-stroke: 4px #F1DDBF;
}

/* MAIN (NAVBAR AND VIDEO CONTAINER) STYLING*/

/* NAVBAR STYLING */
.navbar {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    width: 100%;
    height: 60px;
    /* align-self: start; */
    /* margin-top: 50px; */
    /* position: sticky; */
    /* top: 90px; */
    background: linear-gradient(45deg, #92ba92c7 10%, #78938ad1 100%);
    z-index: 0;
    /* display: flex;
    flex-direction: rows;
    align-items: center; */
    border-top: solid 2px #92BA92;
    border-bottom: solid 2px #92BA92;
}

.navBarContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* padding: 25px; */
    background: transparent;
    /* position: sticky;
    top: 0px; */
    /* background: linear-gradient(to bottom, #638fe1 0%, rgba(101, 101, 101, 0.5) 100%); */
    justify-content: center;
    align-items: center;
    
}

.navbar i:hover {
    cursor: pointer;
}

.sortAndFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 40px;
    border-radius: 3px;
    /* background-color: #638fe1; */
    
}

.navbar-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 100%;
}

.navbar-listItem {
    margin-left: 2.5vw;
    margin-right: 2vw;
}

.labelSort {
    min-width: 60px;
    text-align: center;
}

.labelFilterDuration {
    min-width: 125px;
    text-align: center;
    width: fit-content
}

.labelFilterFreePaid {
    min-width: 90px;
    text-align: center;
}

.searchBar {
    width: 15%;
    height: 30px;
    /* margin-top: 25px; */
    min-width: 140px;

    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("https://www.w3schools.com/css/searchicon.png");
    background-position: center left;
    background-position: 5px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* transition: width 0.4s ease-in-out; */
    transition: 0.5s ease-in-out;
    outline: none;
    margin-left: 10px;
}

.searchBar:focus {
    width: 20%;
    border: 2px solid #1e1e1e;
}

select {
    width: fit-content;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    transition: 0.3s ease-in-out;
}

select:focus {
    box-shadow: 0px 4px 10px 1px #3e3e3e;
    background-color: #e1e1e1;
}

@media only screen and (max-width: 750px) {
    .navBarContainer {
        flex-direction: column;
        gap: 5px;
    }

    .sortAndFilter {
        flex-direction: column;
        height: 135px;
        width: 100%;
    }

    .navbar {
        height: fit-content;
    }

    .videoContainer {
        margin-top: 100px;
    }

    .searchBar:focus {
        width: 200px;
    }
}

/* SHOPPING CART */


/* VIDEO CONTAINER STYLING */
.videoContainer, .recommendedContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 12pt;
    font-weight: 400;
    color: #fff;
    z-index: 0;
}

/* VIDEOCARD STYLING */
.videoCard {
    width: 10vw;
    height: 6vw;
    min-width: 360px;
    min-height: 255px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    /* box-shadow: 5px 5px #1e1e1e; */
    /* background: linear-gradient(325deg, rgba(55, 55, 55, 0.8), #fc8646); */
    background-color: transparent;
    /* filter: blur(4px); */
    transition: 0.5s;
    border-radius: 12.5px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    position: relative;
}

.videoCard:hover {
    scale: 110%;
    z-index: 25;
}

.videoWrap {
    width: 100%;
    height: 83%;
    border-radius: 12.5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    /* justify-content: center; */
    /* align-items: center; */
}

.videoWrap video {
    min-width: 100%;
    /* min-height: 100%; */
    /* overflow: hidden; */
}

#unpaidIcon {
    position: absolute;
    top: 50px;
    left: 120px;
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 64pt;
}

.videoUnpaid {
    width: auto;
    height: auto;
    filter: blur(5px);
}

.videoCard-infoContainer {
    display: flex;
}

.likeButton, .addToCartButton {
    font-size: 25px;
    margin-left: 10px;
    color: white;
}

.likeButton:hover, .addToCartButton:hover {
    cursor: pointer;
    scale: 110%;
}

.videoCard-title {
    margin-left: 10px;
    padding: 5px;
    width: 255px;
    transition: 0.5s;
    align-self: center;

    /* Put in a react component so that we can actually control when it shows or not. */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.videoCard-price {
    margin-left: auto;
    margin-right: 10px;
    align-self: center;
    text-shadow: 1px 1px #1e1e1e;
}

/* CART STYLING */
.cartContainer {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 200vh;
    top: 0;
    left: 0;
    z-index: 2;
}

.cart {
    position: relative;
    width: 40%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    z-index: 3;
}

.cart-header {
    display: flex;
    justify-content: space-between;
}

.exitCart {
    border: 1px solid black;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}

.cartItems {
    display: flex;
    justify-content: space-between;
}

.removeFromCart {
    border: 1px solid gray;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}

/* THEATER MODE STYLING */
.theaterContainer {
    display: flex;
    background-color: #181a18;
    width: 100%;
    position: relative;
    margin: 0 auto;
    max-height: 90vh;
    overflow: auto;
    z-index: 3;
}

.video {
    display: block;
    margin: 0 auto;
}

.exitTheater {
    font-size: 25px;
    color: white;
    align-self: flex-start;
    margin-top: 65px;
    margin-right: 65px;
    cursor: pointer;
}

.theaterModeGrayedBackground {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
}

