/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');

/* HTML RESET */
html, body {
    padding: 0;
    margin: 0;
}

/* Body Gradient */
body {
    background: linear-gradient(#525E75 10%, #1e1e1e 100%);
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* ******************************* */
/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    /* border-radius: 10px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #3e3e3e; 
    /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d2d2d; 
}
/* ******************************* */

/* LOGO STYLING */
.logoContainer {
    display: flex;
    width: 100%;
    padding: 25px;
    /* background: transparent; */
    position: sticky;
    top: 0px;
    background: linear-gradient(to bottom, #525E75 0%, rgba(101, 101, 101, 0.5) 100%);
    justify-content: space-between;
}

.logo {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-stretch: condensed;
    font-weight: 700;
    font-size: 4vw;
    line-height: 70%;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: transparent;

    -webkit-text-stroke: 0.22vw #F1DDBF;
}

/* MAIN (NAVBAR AND VIDEO CONTAINER) STYLING*/
.main {
    /* display: flex; */
}

/* NAVBAR STYLING */

.navbar {
    width: 100%;
    height: 75px;
    /* align-self: start; */
    /* margin-top: 50px; */
    position: sticky;
    /* top: 90px; */
    /* background-color: #92BA92; */
}

.navbar i:hover {
    cursor: pointer;
}

.navbar-list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.navbar-filter {
    display: flex;
    padding: 0;
}

.navbar-listItem {
    padding: 20px;
}

/* VIDEO CONTAINER STYLING */
.videoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 12pt;
    font-weight: 400;
    color: #fff;
}

/* VIDEOCARD STYLING */
.videoCard {
    width: 360px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    overflow: hidden;
    /* margin-right: 10px; */
    box-shadow: 5px 5px #1e1e1e;
    background: linear-gradient(325deg, #4a36fa, #fc8646);
    /* filter: blur(4px); */
    transition: 0.5s;
    border-radius: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; */
}

.videoWrap {
    width: 100%;
    height: 83%;
    border-radius: 20px, 20px, 0px, 0px;
    overflow: hidden;
    
    /* justify-content: center; */
    /* align-items: center; */
}

.videoWrap video {
    /* flex-shrink: 0; */

    min-width: 100%;
    /* min-height: 100%;
    overflow: hidden; */
    
}

.videoCard-infoContainer {
    display: flex;
}

.likeButton, .addToCartButton {
    font-size: 25px;
    margin-left: 10px;
}

.likeButton:hover, .addToCartButton:hover {
    cursor: pointer;
}

.videoCard-title {
    margin-left: 10px;
    padding: 5px;
    width: 255px;
    transition: 0.5s;
    align-self: center;

    /* Put in a react component so that we can actually control when it shows or not. */
    overflow: hidden;
    white-space: nowrap;
}

.videoCard-price {
    margin-left: auto;
    margin-right: 10px;
    align-self: center;
    text-shadow: 1px 1px #1e1e1e;
}

/* CART STYLING */
.cartContainer {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.cart {
    position: relative;
    width: 40%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}

.cart-header {
    display: flex;
    justify-content: space-between;
}

.exitCart {
    border: 1px solid black;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}

.cartItems {
    display: flex;
    justify-content: space-between;
}

.removeFromCart {
    border: 1px solid gray;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}

/* CART STYLING */
.cartContainer {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.cart {
    position: relative;
    width: 40%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}

.cart-header {
    display: flex;
    justify-content: space-between;
}

.exitCart {
    border: 1px solid black;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}

.cartItems {
    display: flex;
    justify-content: space-between;
}

.removeFromCart {
    border: 1px solid gray;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}